<section class="thirdpage">
    <div class="thirdp col-lg-11 m-auto">
        <br>
        <br>
        <div class="text-left">
            <h3>Become a SocraTutor! TUTOR</h3>
            <p>SocraTutor! seeks qualified applicants for tutoring jobs nationwide. Enjoy the flexibility and compensation of a tutor job in your field. We encourage all educational enthusiasts to be a tutor and make a difference in someone’s life.</p>
        </div>

        <hr>
        <br>
        <br>

        <div class="text-left">
            <h4>Supporting Document</h4>
        </div>

        <hr>

        <div class="mb-3">
            <label for="exampleInputLastName" class="form-label">CV.</label> <br>
            <input type="file">
            <input type="button" value="Upload">
        </div>

        <hr>

        <div class="mb-3">
            <label for="exampleInputLastName" class="form-label">Copy Matric Certificate.</label>
            <br>
            <input type="file">
            <input type="button" value="Upload">
        </div>

        <hr>

        <div class="mb-3">
            <label for="exampleInputLastName" class="form-label">Copy of ID Book.</label>
            <br>
            <input type="file">
            <input type="button" value="Upload">
        </div>

        <hr>

        <div class="mb-3">
            <label for="exampleInputLastName" class="form-label">Other attachments.</label>
            <br>
            <input type="file">
            <input type="button" value="Upload">
        </div>

        <hr>

        <button routerLink="/first-page" class="btn btn-dark" style="height: fit-content;">Back</button> &nbsp;
        <button routerLink="" class="btn btn-dark" style="height: fit-content;">Submit</button>

        <hr>
    </div>
</section>