.resetpassword
{
    background-color: #eff6ff;
    padding: 140px 100px;
}

.resetpass
{
    background-color: #ffffff;
    padding: 20px 30px;
}

@media screen and (max-width:600px){
    .resetpassword
     {
        padding: 140px 30px;
     }
}
