<section class="resetpassword">
    <div class="resetpass col-lg-4 m-auto shadow-lg" >
      <div class="text-center">
        <h2>Password Reset</h2>
        <p>Welcome to SocraTutor password reset page. You may reset your password by completing the form below.</p>
        <p>Provide your email address and ID number</p>
    </div>

    <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="" class="form-label">Enter your email address:</label>
          <input type="email" class="form-control">
        </div>

        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Enter your ID number:</label>
          <input type="password"  class="form-control">
        </div>

        <button type="submit" class="btn btn-primary col-lg-12">Continue</button>
      </form>  
    </div>
</section>