<section class="about container shadow-lg">
    <h1 class="text=center">About Us</h1>
    <p>
        The aim of this project is to create a system that connects independent tutors with students or learners. This system will allow students to book a tutor online instead of wasting a lot of time looking for a tutor. <br> We want to create a web application that will allow a student to select a tutor of their preference. The system should provide a new, fast and affordable way for students in Grade 12 to Tertiary level to find a tutor for a specific module or subject.
    </p>

    <p>
        In trying to minimize the unemployment rate, some people with skills and knowledge resort to independant tutoring but they often struggle to find students to tutor due to lack of information about already existing websites for tutoring.<br> When they do find students,they need to travel far to meet with their students.Students sometimes struggle to find tutors catered to their specific needs.
    </p>
</section>