<section class="contactus">
    <div class="contact col-lg-7 m-auto shadow-lg">
      <div class="text-center">
        <h1>Contact Us</h1>
        <h6>Please provide your details below to contact us.</h6>
      </div>
  
      <form (ngSubmit)="submitForm()">
        <div class="mb-3">
          <label for="exampleInputFirstName" class="form-label">Name</label>
          <input type="text" #name="" class="form-control" name="name">
        </div>
  
        <div class="mb-3">
          <label for="exampleInputLastName" class="form-label">Email</label>
          <input type="email" #email="" class="form-control" name="email">
        </div>
  
        <div class="mb-3">
          <label for="exampleInputContact" class="form-label">Your Message</label>
          <textarea type="text" #message="" class="form-control" message="message"></textarea>
        </div>
  
        <br>
  
        <button type="submit" class="btn btn-primary col-lg-12">Submit</button>
    </form> 
  </div>    
</section>
  

  


