<section class="course">
    <div class="container">
        <h1 class="text-center" style="color:black">All Modules</h1>
        <div class="row mt-5">
            <div class="col-lg-3 mb-5">
                <div class="box shadow-sm">
                    <h4 class="mt-2">{{course[0].name}}</h4>
                    <img src="{{course[0].image}}" width="100%">
                    <p class="mt-2">{{course[0].description}} <a href="https://en.wikipedia.org/wiki/Mathematics" target="_blank">read more</a></p>
                    <button routerLink="/maths-tutors" class="btn btn-primary btn-sm">Select</button>
                </div>
            </div>
            
            <div class="col-lg-3 mb-5">
                <div class="box shadow-sm">
                    <h4 class="mt-2">{{course[1].name}}</h4>
                    <img src="{{course[1].image}}" width="100%">
                    <p class="mt-2">{{course[1].description}} <a href="https://en.wikipedia.org/wiki/Physics" target="_blank">read more</a></p>
                    <button routerLink="/physics-tutors" class="btn btn-primary btn-sm">Select</button>
                </div>
            </div>

            <div class="col-lg-3 mb-5">
                <div class="box shadow-sm">
                    <h4 class="mt-2">{{course[2].name}}</h4>
                    <img src="{{course[2].image}}" width="100%">
                    <p class="mt-2">{{course[2].description}} <a href="https://en.wikipedia.org/wiki/Chemistry" target="_blank">read more</a></p>
                    <button routerLink="/chemistry-tutors" class="btn btn-primary btn-sm">Select</button>
                </div>
            </div>

            <div class="col-lg-3 mb-5">
                <div class="box shadow-sm">
                    <h4 class="mt-2">{{course[3].name}}</h4>
                    <img src="{{course[3].image}}" width="100%">
                    <p class="mt-2">{{course[3].description}} <a href="https://en.wikipedia.org/wiki/List_of_life_sciences" target="_blank">read more</a></p>
                    <button routerLink="/lifesci-tutors" class="btn btn-primary btn-sm">Select</button>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-3 mb-5">
                <div class="box shadow-sm">
                    <h4 class="mt-2">{{course[4].name}}</h4>
                    <img src="{{course[4].image}}" width="100%">
                    <p class="mt-2">{{course[4].description}} <a href="https://en.wikipedia.org/wiki/Accounting" target="_blank">read more</a></p>
                    <button routerLink="/accounting-tutors" class="btn btn-primary btn-sm">Select</button>
                </div>
            </div>
                

            <div class="col-lg-3 mb-5">
                <div class="box shadow-sm">
                    <h4 class="mt-2">{{course[5].name}}</h4>
                    <img src="{{course[5].image}}" width="100%">
                    <p class="mt-2">{{course[5].description}} <a href="https://en.wikipedia.org/wiki/Computer_science" target="_blank">read more</a></p>
                    <button routerLink="/comscie-tutors" class="btn btn-primary btn-sm">Select</button>
                </div>
            </div>

            <div class="col-lg-3 mb-5">
                <div class="box shadow-sm">
                    <h4 class="mt-2">{{course[6].name}}</h4>
                    <img src="{{course[6].image}}" width="100%">
                    <p class="mt-2">{{course[6].description}} <a href="https://en.wikipedia.org/wiki/Informatics" target="_blank">read more</a></p>
                    <button routerLink="/informatics-tutors" class="btn btn-primary btn-sm">Select</button>
                </div>
            </div>

            <div class="col-lg-3 mb-5">
                <div class="box shadow-sm">
                    <h4 class="mt-2">{{course[7].name}}</h4>
                    <img src="{{course[7].image}}" width="100%">
                    <p class="mt-2">{{course[7].description}} <a href="https://en.wikipedia.org/wiki/Statistics" target="_blank">read more</a></p>
                    <button routerLink="/stats-tutors" class="btn btn-primary btn-sm">Select</button>
                </div>
            </div>
        </div>
    </div>
</section>




