<section class="lifesci">
    <div class="container">
        <h1 class="text-center" style="color:black">All Available Tutors For Life Science</h1>
        <div class="row mt-5">
            <div class="col-lg-3 mb-5">
                <div class="box shadow-sm">
                    <img src="{{tutor[0].image}}" width="100%">
                    <h4 class="mt-2">{{tutor[0].name}}</h4>
                    <button routerLink="/booking" class="btn btn-primary btn-sm">Select</button>
                </div>
            </div>
            
            <div class="col-lg-3 mb-5">
                <div class="box shadow-sm">
                    <img src="{{tutor[1].image}}" width="100%">
                    <h4 class="mt-2">{{tutor[1].name}}</h4>
                    <button routerLink="/booking" class="btn btn-primary btn-sm">Select</button>
                </div>
            </div>

            <div class="col-lg-3 mb-5">
                <div class="box shadow-sm">
                    <img src="{{tutor[2].image}}" width="100%">
                    <h4 class="mt-2">{{tutor[2].name}}</h4>
                    <button routerLink="/booking" class="btn btn-primary btn-sm">Select</button>
                </div>
            </div>

            <div class="col-lg-3 mb-5">
                <div class="box shadow-sm">
                    <img src="{{tutor[3].image}}" width="100%">
                    <h4 class="mt-2">{{tutor[3].name}}</h4>
                    <button routerLink="/booking" class="btn btn-primary btn-sm">Select</button>
                </div>
            </div>
        </div>
    </div>
</section>




