<section class="availtut">
    <div class="container">
        <h1 class="text-center" style="color:black">All Available Tutors</h1>
        <div class="row mt-5">
            <div class="col-lg-3 mb-5">
                <div class="box shadow-sm">
                    <img src="{{tutor[0].image}}" width="100%">
                    <h4 class="mt-2">{{tutor[0].name}}</h4>
                </div>
            </div>
            
            <div class="col-lg-3 mb-5">
                <div class="box shadow-sm">
                    <img src="{{tutor[1].image}}" width="100%">
                    <h4 class="mt-2">{{tutor[1].name}}</h4>
                </div>
            </div>

            <div class="col-lg-3 mb-5">
                <div class="box shadow-sm">
                    <img src="{{tutor[2].image}}" width="100%">
                    <h4 class="mt-2">{{tutor[2].name}}</h4>
                </div>
            </div>

            <div class="col-lg-3 mb-5">
                <div class="box shadow-sm">
                    <img src="{{tutor[3].image}}" width="100%">
                    <h4 class="mt-2">{{tutor[3].name}}</h4>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-3 mb-5">
                <div class="box shadow-sm">
                    <img src="{{tutor[4].image}}" width="100%">
                    <h4 class="mt-2">{{tutor[4].name}}</h4>
                </div>
            </div>

            <div class="col-lg-3 mb-5">
                <div class="box shadow-sm">
                    <img src="{{tutor[5].image}}" width="100%">
                    <h4 class="mt-2">{{tutor[5].name}}</h4>
                </div>
            </div>

            <div class="col-lg-3 mb-5">
                <div class="box shadow-sm">
                    <img src="{{tutor[6].image}}" width="100%">
                    <h4 class="mt-2">{{tutor[6].name}}</h4>
                </div>
            </div>

            <div class="col-lg-3 mb-5">
                <div class="box shadow-sm">
                    <img src="{{tutor[7].image}}" width="100%">
                    <h4 class="mt-2">{{tutor[7].name}}</h4>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-3 mb-5">
                <div class="box shadow-sm">
                    <img src="{{tutor[8].image}}" width="100%">
                    <h4 class="mt-2">{{tutor[8].name}}</h4>
                </div>
            </div>
            
            <div class="col-lg-3 mb-5">
                <div class="box shadow-sm">
                    <img src="{{tutor[9].image}}" width="100%">
                    <h4 class="mt-2">{{tutor[9].name}}</h4>
                </div>
            </div>

            <div class="col-lg-3 mb-5">
                <div class="box shadow-sm">
                    <img src="{{tutor[10].image}}" width="100%">
                    <h4 class="mt-2">{{tutor[10].name}}</h4>
                </div>
            </div>

            <div class="col-lg-3 mb-5">
                <div class="box shadow-sm">
                    <img src="{{tutor[11].image}}" width="100%">
                    <h4 class="mt-2">{{tutor[11].name}}</h4>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-3 mb-5">
                <div class="box shadow-sm">
                    <img src="{{tutor[12].image}}" width="100%">
                    <h4 class="mt-2">{{tutor[12].name}}</h4>
                </div>
            </div>
                

            <div class="col-lg-3 mb-5">
                <div class="box shadow-sm">
                    <img src="{{tutor[13].image}}" width="100%">
                    <h4 class="mt-2">{{tutor[13].name}}</h4>
                </div>
            </div>

            <div class="col-lg-3 mb-5">
                <div class="box shadow-sm">
                    <img src="{{tutor[14].image}}" width="100%">
                    <h4 class="mt-2">{{tutor[14].name}}</h4>
                </div>
            </div>

            <div class="col-lg-3 mb-5">
                <div class="box shadow-sm">
                    
                    <img src="{{tutor[15].image}}" width="100%">
                    <h4 class="mt-2">{{tutor[15].name}}</h4>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-3 mb-5">
                <div class="box shadow-sm">
                    <img src="{{tutor[16].image}}" width="100%">
                    <h4 class="mt-2">{{tutor[16].name}}</h4>
                </div>
            </div>

            <div class="col-lg-3 mb-5">
                <div class="box shadow-sm">
                    <img src="{{tutor[17].image}}" width="100%">
                    <h4 class="mt-2">{{tutor[17].name}}</h4>
                </div>
            </div>
        </div>
    </div>
</section>




