<div id="carouselExampleSlidesOnly" class="carousel-slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../assets/homepic.jpg" class="d-block w-100" alt="...">

            <div class="homecontent">
                <h1>Get yourself a tutor now <br> to better your future</h1>
                <a routerLink="/module" class="btn btn-lg btn-light">Discover Modules</a> &nbsp;
                <a routerLink="/register" class="btn btn-lg btn-primary">Get Started</a> 
            </div>
        </div>
        <div class="carousel-item">
            <img src="../../assets/back.jpg" class="d-block w-100" alt="...">

            <div class="homecontent">
                <h1>Get yourself a tutor now <br> to better your future</h1>
                <a routerLink="/module" class="btn btn-lg btn-light">Discover Modules</a> &nbsp;
                <a routerLink="/register" class="btn btn-lg btn-primary">Get Started</a> 
            </div>
        </div>
        <div class="carousel-item">
            <img src="../../assets/image_1.jpg" class="d-block w-100" alt="...">

            <div class="homecontent">
                <h1>Get yourself a tutor now <br> to better your future</h1>
                <a routerLink="/module" class="btn btn-lg btn-light">Discover Modules</a> &nbsp;
                <a routerLink="/register" class="btn btn-lg btn-primary">Get Started</a> 
            </div>
        </div>
    </div>
</div>













