.carousel-slide .carousel-inner .carousel-item img
{
    width: 100%;
    height: 600px;
    object-position: center;
    object-fit: cover;
}

.carousel-slide .carousel-inner .carousel-item .homecontent
{
    position:absolute;
    top:75%;
    left:22%;
    transform:translate(-50%,-50%);
}

.carousel-slide .carousel-inner .carousel-item .homecontent h1 {
    color: #ffffff;
    font-size: 50px;
} 

.carousel-slide .carousel-inner .carousel-item .homecontent a {
    margin-top: 10px;
} 

@media screen and (max-width:600px) {
    .carousel-slide .carousel-inner .carousel-item img {
        height: 700px;
    }

    .carousel-slide .carousel-inner .carousel-item .homecontent h1 {
        font-size: 30px;
    }
}
