<section class="secondpage">
    <div class="secondp col-lg-11 m-auto">
        <br>
        <br>
        <div class="text-left">
            <h3>Become a SocraTutor! TUTOR</h3>
            <p>SocraTutor! seeks qualified applicants for tutoring jobs nationwide. Enjoy the flexibility and compensation of a tutor job in your field. We encourage all educational enthusiasts to be a tutor and make a difference in someone’s life.</p>
        </div>

        <br>
        <br>

        <div class="text-left">
            <h4>Undergraduate Degree</h4>
        </div>

        <hr>

        <div class="d-flex flex-row bd-highlight mb-3">
            <div class="form-group row" style="width: 30%;">
                <div class="col-sm-10">
                    <input type="type" class="form-control" placeholder="College">
                </div>
            </div>

            <div class="form-group row" style="width: 30%;">
                <div class="col-sm-10">
                    <input type="type" class="form-control" placeholder="Major">
                </div>
            </div>

            <div class="form-group row" style="width: 30%;">
                <div class="col-sm-10">
                    <input type="type" class="form-control" placeholder="Degree Type">
                </div>
            </div>

            <div class="form-group row" style="width: 10%;">
                <div class="col-sm-10">
                    <input type="type" class="form-control" placeholder="Year">
                </div>
            </div>
        </div>

        <hr>

        <div class="text-left">
            <h4>Graduate Degree</h4>
        </div>

        <hr>

        <div class="d-flex flex-row bd-highlight mb-3">
            <div class="form-group row" style="width: 30%;">
                <div class="col-sm-10">
                    <input type="type" class="form-control" placeholder="College">
                </div>
            </div>

            <div class="form-group row" style="width: 30%;">
                <div class="col-sm-10">
                    <input type="type" class="form-control" placeholder="Major">
                </div>
            </div>

            <div class="form-group row" style="width: 30%;">
                <div class="col-sm-10">
                    <input type="type" class="form-control" placeholder="Degree Type">
                </div>
            </div>

            <div class="form-group row" style="width: 10%;">
                <div class="col-sm-10">
                    <input type="type" class="form-control" placeholder="Year">
                </div>
            </div>
        </div>

        <hr>

        <div class="mb-3">
            <label for="exampleInputContact" class="form-label">Teaching Certificate?</label>
            <textarea style="height: 150px; width: 1100px;" type="text" #message="" class="form-control" message="message" placeholder="If yes, in which subject(s)"></textarea>
          </div>

        <button routerLink="/become-tutor" class="btn btn-dark" style="height: fit-content;">Back</button> &nbsp;
        <button routerLink="/second-page" class="btn btn-dark" style="height: fit-content;">Continue</button>

        <hr>
    </div>
</section>